                         body {
                             font-family: Arial, Helvetica, sans-serif;
                         }
                         
                         * {
                             box-sizing: border-box;
                         }
                         
                         input[type=text],
                         input[type=password] {
                             width: 100%;
                             padding: 16px;
                             margin: 5px 0 22px 0;
                             display: inline-block;
                             border: none;
                             background: #d5dbd3;
                         }
                         
                         input[type=text]:focus,
                         input[type=password]:focus {
                             background-color: #0074f8;
                             outline: none;
                         }
                         
                         .col-25 {
                             float: left;
                             width: 25%;
                             margin-top: 6px;
                         }
                         
                         .col-75 {
                             float: left;
                             width: 75%;
                             margin-top: 6px;
                         }
                         
                         hr {
                             border: 1px solid #000e5f;
                             margin-bottom: 25px;
                         }
                         
                         input[type=submit] {
                             background-color: #45a049;
                             width: 100%;
                             padding: 16px;
                             margin: 5px 0 22px 0;
                             display: inline-block;
                             border: none;
                         }
                         /* Set a style for all buttons */
                         
                         button {
                             background-color: #e9eeec;
                             color: white;
                             padding: 14px 20px;
                             margin: 8px 0;
                             border: none;
                             cursor: pointer;
                             width: 100%;
                             opacity: 0.9;
                         }
                         
                         button:hover {
                             opacity: 1;
                         }
                         /* Extra styles for the cancel button */
                         
                         .cancelbtn {
                             padding: 14px 20px;
                             background-color: #f44336;
                         }
                         /* Float cancel and signup buttons and add an equal width */
                         
                         .cancelbtn,
                         .signupbtn {
                             float: left;
                             width: 50%;
                         }
                         /* Add padding to container elements */
                         
                         .container {
                             padding: 16px;
                         }
                         /* Clear floats */
                         
                         .clearfix::after {
                             content: "";
                             clear: both;
                             display: table;
                         }
                         /* Change styles for cancel button and signup button on extra small screens */
                         
                         @media screen and (max-width: 300px) {
                             .cancelbtn,
                             .signupbtn {
                                 width: 100%;
                             }
                         }
                         /* design for log in page */
                         
                         .loginContainer {
                             display: flex;
                             justify-content: center;
                             align-items: center;
                             height: 100vh;
                         }
                         
                         form {
                             width: 400px;
                             padding: 20px;
                             background: #f8f8f8;
                             box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                         }
                         
                         .login_fields {
                             margin-bottom: 25px;
                         }
                         
                         label {
                             display: block;
                             font-size: 18px;
                             font-weight: 600;
                             margin-bottom: 5px;
                         }
                         
                         p {
                             display: inline-block;
                             font-size: 16px;
                             margin-bottom: 0;
                         }
                         
                         button[type="submit"] {
                             display: block;
                             width: 100%;
                             padding: 10px;
                             background: #008CBA;
                             color: #fff;
                             border: none;
                             border-radius: 4px;
                             font-size: 18px;
                             cursor: pointer;
                             transition: all 0.3s ease;
                         }
                         
                         button[type="submit"]:hover {
                             background: #005f79;
                         }